<web-app>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.unieus.garajea.web.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
</web-app>